<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="vh-200" style="background: linear-gradient(120deg, #3498db, #8e44ad, #3498db); height:100vh;">
  <%= render "customers/shared/toast", resource: resource %>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">
            <h3 class="mb-3 ">Sign up</h3>
              <div class="form-outline mb-3 field">
                <%= f.label :email, class: "form-label d-flex justify-content-start"%>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-bottom form-control form-control-lg" %>
              </div>

              <div class="form-outline mb-3 field">
                <%= f.label :password,  class: "form-label d-flex justify-content-start"  %>
                <%= f.password_field :password, autocomplete: "new-password", class: "border-bottom form-control form-control-lg" %>
              </div>

              <div class="form-outline mb-3 field">
                <%= f.label :password_confirmation,  class: "form-label d-flex justify-content-start"  %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border-bottom form-control form-control-lg" %>
              </div>

              <div class="form-outline mb-3 field">
                <%= f.label :avatar,  class: "form-label d-flex justify-content-start"  %>
                <%= f.file_field :avatar, autocomplete: "avatar", class: "border-bottom form-control form-control-lg" %>
              </div>

              <div class="actions py-2" style="background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);">
                <%= f.submit "Sign up", style: "background: transparent; border: none; color: white; width: 100%;" %>
              </div>  
              <a class="btn back-btn" href="/customers/sign_in" role="button">
                <i class="fa-solid fa-arrow-left"></i>
                <span class="mx-2">Back to log in</span>
              </a>
              <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>

<%= stylesheet_link_tag 'sign_in'%>
