<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>
  <div style="background: linear-gradient(120deg, #3498db, #8e44ad, #3498db); height:100vh;">
    <div class="container py-5 h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong " style="border-radius: 1rem;">
            <div class="card-body p-3 text-center uploader">
              <h2 class="mb-3 ">Sign up</h2>
                <div class="form-outline mb-3 field">
                  <%= f.label :email, class: "form-label d-flex justify-content-start"%>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-bottom form-control form-control-lg" %>
                </div>
                <div class="form-outline mb-3 field">
                  <%= f.label :password,  class: "form-label d-flex justify-content-start"  %>
                  <%= f.password_field :password, autocomplete: "new-password", class: "border-bottom form-control form-control-lg" %>
                </div>
                <div class="form-outline mb-3 field">
                  <%= f.label :password_confirmation,  class: "form-label d-flex justify-content-start"  %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border-bottom form-control form-control-lg" %>
                </div>
                <div data-controller="uploader"> 
                  <%= f.label :avatar, class: "form-label d-flex justify-content-start"%>
                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                    <label for="file-upload" id="file-drag" class="upload_avatar">
                      <img id="file-image" src="#" alt="Preview" class="hidden">
                      <div id="start">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <div>Select a file or drag here</div>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <div class="form-outline mb-3 field" id="file-upload-btn">
                          <%= f.label :avatar, 'Select a file' , class: "btn__avt btn-primary" %>                      
                          <%= f.file_field :avatar, autocomplete: "avatar"%>                    
                          </div>
                      </div>
                      <div id="response" class="hidden">
                        <div id="messages"></div>
                        <progress class="progress" id="file-progress" value="0">
                          <span>0</span>%
                        </progress>
                      </div>
                    </label>
                </div>
                <div class="actions py-2" style="background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);">
                  <%= f.submit "Sign up", style: "background: transparent; border: none; color: white; width: 100%;" %>
                </div>  
                <a class="btn back-btn position:absolute " href="/customers/sign_in" role="button">
                  <i class="fa-solid fa-arrow-left"></i>
                  <span class="mx-2 ">Back to log in</span>
                </a>
                <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<<<<<<< HEAD
<% end %>
<%= stylesheet_link_tag 'sign_up'%>
=======
</div>
>>>>>>> 416230d ([issue_36] research devise 60%, create ui sign up 90% and use carrierware)
