<div class="pt-4">
  <div class="me-auto p-4 bd-highlight content">
    <h3 class="mb-4" style="font-weight: 700; padding-top: 10px; margin-left: 6px;">Tagging</h3>
    <div class="text-end mb-3">
      <%= link_to "New tag", new_administrator_tag_path, class: "btn btn-primary px-5 " %>
    </div>
  </div>
  <div id="table-admin">
    <div class="card" style="border-left: none; border-right: none;">
      <div class="card-body pt-0 pb-0" style="padding: 0 34px;">
        <table class="table align-middle mb-0 bg-white custom-table">
          <thead style="font-size: 15px;">
            <tr>
              <th scope="col"style="width: 250px;">STT</th>
              <th scope="col">Name</th>
              <th scope="col" style="width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% @tags.each_with_index do |tag, index| %>
              <tr>
                <td class="custom-table" style="max-width: 100px;"><%= index + 1 %></td>
                <td class="custom-table" style="max-width: 550px;"><%= tag.name %></td>
                <td>
                  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis" style="font-size: 17px;"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= button_to "Show", administrator_tag_path(tag), method: :get, class: "dropdown-item", data: { turbo_frame: "_top" } %></li>
                    <li><%= button_to "Edit", edit_administrator_tag_path(tag), method: :get, class: "dropdown-item", data: { turbo_frame: "_top" } %></li>
                    <li><%= button_to "Delete", administrator_tag_path(tag), method: :delete, class: "dropdown-item", data: { turbo_frame: "_top" } %></li>          
                  </ul> 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
