<!-- 
<div>
  <h1 class='container d-flex justify-content-center mb-5'>USER REGISTER IN MONTHS</h1>
  <%= form_tag(administrator_statistics_path, method: :get) do %>
    <div class="d-flex justify-content-center">
      <% (1..6).each do |month| %>
        <label class="month-label">
          <div class="form-check form-switch mb-4" style='margin-left: 35px'>
            <%= check_box_tag 'selected_months[]', month, Array(params[:selected_months]).include?(month.to_s),class:"form-check-input" %>
            <%= Date::MONTHNAMES[month] %>
          </div>
        </label>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <% (7..12).each do |month| %>
        <label class="month-label">
          <div class="form-check form-switch mb-3" style='margin-left: 35px'>
            <%= check_box_tag 'selected_months[]', month, Array(params[:selected_months]).include?(month.to_s),class:"form-check-input" %>
            <%= Date::MONTHNAMES[month] %>
          </div>
        </label>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= button_tag type: 'submit', class: "btn btn-primary px-5 mx-5 mb-3" do %>
          <%= content_tag(:i, '', class: 'fas fa-filter') %>
            Filter
      <% end %>
    </div>
  <% end %>

  <div class='d-flex justify-content-center'>
    <%= image_tag "data:image/png;base64,#{@base64_image}", alt: 'User login and sign up in months'%>
  </div>
</div> -->

<h1 class='container d-flex justify-content-center'>USER REGISTER IN MONTHS</h1>
<div class='row g-4 mb-4 p-4' >
  <div class='col-12'>
    <div class="card shadow-none border border-300 bg-light">
      <div class='card-body p-0 d-flex justify-content-between' >
        <div class='p-2 code-to-copy'>
          <h3>Customer</h3>
        </div>
      <div class=' py-4 px-2 d-flex align-items-center' >
      <input type = "date" name = "date" class='mx-2 form-control'>
      <input type = "date" name = "date" class='form-control'>
    </div>
  </div>
  <div class='d-flex justify-content-center '>
    <%= pie_chart Customer.group("quarter(created_at)").count, width: "400px", height: "150px" %>
    </div>
      <div class='p-4'>
        <% data = Customer.group("DATE_FORMAT(created_at,'%b')").count %>
        <% sorted_data = data.sort_by { |month, _| Date::ABBR_MONTHNAMES.index(month) || 0 }.to_h %>
        <%= column_chart sorted_data, colors: ["#4CB9E7"] %>
      </div>
    </div>
  </div>
</div>