<header class="header-administrator-page">
  <nav class="navbar navbar-expand-sm navbar-top">
    <div class="container-fluid">
      <div class="navbar-logo">
        <div class="dropdown">
          <button
            class="navbar-toggler btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle Navigation"
            data-controller="admin"
          >
            <span class="navbar-toggle-icon">
              <i class="fa-solid fa-bars" style="color: #9d9b9b;"></i>
            </span>
          </button>
        </div>
        <a
          class="navbar-brand d-flex align-items-center"
          href="/administrator/dashboard"
        >
          <%= image_tag 'clinic.png', alt: 'Phoenix', class: 'rounded-circle img-logo' %>
          <p class="logo-text ms-2 d-none d-sm-block fw-bold mb-0">Clinic</p>
        </a>
      </div>

      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="nav-link"
          id="navbarDropdownUser"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <%= image_tag 'avatar_1.png', alt: 'Avatar', class: 'rounded-circle avatar' %>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 shadow border border-300 dropdown-profile"
          style="margin: 10px"
          aria-labelledby="navbarDropdownUser"
        >
          <li>
            <div class="card position-relative border-0">
              <div class="card-body p-0">
                <div class="avatar-wrap pt-4 pb-3">
                  <div>
                    <%= image_tag 'avatar_1.png', alt: 'Avatar', class: 'rounded-circle avatar' %>
                  </div>
                  <h6 class="mt-2 text-dark avatar-name"><%= current_administrator_admin.email %></h6>
                  <div class="avatar-sign-out">
                    <%= link_to destroy_administrator_admin_session_path, 'data-turbo-method': :delete, class: 'btn-sign-out text-decoration-none text-dark' do %>
                      <i class="fas fa-sign-out-alt icon"></i> Sign out
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
