<%= Time.zone.now %>
<%= search_form_for @q, data: { turbo_frame: :results } do |f| %>
  <%= f.label :first_name_or_last_name_or_email_cont %>
  <%= f.search_field :first_name_or_last_name_or_email_cont,
                     oninput: 'this.form.requestSubmit()', autofocus: true, autocomplete: 'off' %>
<% end %>
<%= link_to "New user", new_user_path %>
<%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>
  <%= Time.zone.now %>
  <div id="users"></div>
  <%= turbo_frame_tag :pagination, loading: :lazy,
                      src: users_path(format: :turbo_stream, q:@query&.to_unsafe_h) %>
<% end %>
