<h1><%= @blog.title %></h1>
<%= @blog.content %>
<p><%= format_date(@blog.created_at) %></p>
<p>Author: <%= link_to Student.find(@blog.student_id).first_name + " " + Student.find(@blog.student_id).last_name, student_path(@blog.student_id) %></p>
<%= link_to "Edit this blog 🖋", edit_blog_path %> |
<%= link_to "Back to Blogs list", blogs_path %>
<%= button_to "Delete this blog", @blog, method: :delete %>
