<table class="table align-middle mb-0 bg-white ">
  <thead class="bg-light">
    <tr>
      <th style="width: 100px; max-width: 200px; overflow: hidden;"><%= sort_link(@q, :full_name, "Name",class: 'text-black')%></th>
      <th style="width: 150px; max-width: 150px; overflow: hidden;"><%= sort_link(@q, :email, "Email",class: 'text-black')%></th>
      <th style="width: 50px; max-width: 5.0px; overflow: hidden;"><%= sort_link(@q, :age, "Age",class: 'text-black') %></th>
      <th style="width: 50px; max-width: 50px; overflow: hidden;">Gender</th>
      <th style="width: 50px; max-width: 50px; overflow: hidden;">Tags</th>
      <th style="width: 50px; max-width: 50px; overflow: hidden;">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr id="<%= customer[:id] %>">
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;"><%= customer[:full_name] %></td>
        <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;"><%= customer[:email] %></td>
        <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;"><%= customer[:age] %> Years old</td>
        <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;"><%= customer[:gender] %></td>
        <td style="max-width: calc(100% - 600px); overflow: hidden; text-overflow: ellipsis;">
          <%= link_to "View", administrator_customer_path(customer.id), class: "btn btn-primary", role: "button", data: { turbo_frame: "_top" } %>
        </td>
       
        </td>
        <td>
         <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2 show" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><i class="fa-solid fa-ellipsis"></i></button>
         <div class="dropdown-menu dropdown-menu-end py-2" style="">
          <a class="dropdown-item" href="#!">View</a>
          <a class="dropdown-item" href="#!">Export</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="#!">Remove</a>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= stylesheet_link_tag 'administrator/content' %>

