<div id="table-admin">
  <div class="container mt-3">
    <%= form_with(model: @customer, url: administrator_customer_path, local: true) do |form| %>
      <div class="row g-3 mb-3">
        <div class="col-12">
          <%= form.label :avatar, class: "form-label text-capitalize fw-bold mb-1 edit-fs-15" %>
          <%= form.file_field :avatar, class: "form-control", placeholder: "Full name" %>
        </div>
        <div class="col-12 col-lg-6">
          <%= form.label :full_name, class: "form-label text-capitalize fw-bold mb-1 edit-fs-15" %>
          <%= form.text_field :full_name, class: "form-control", placeholder: "Full name" %>
        </div>
        <div class="col-12 col-lg-6">
          <%= form.label :gender, class: "form-label text-capitalize fw-bold mb-1 edit-fs-15" %>
          <%= form.select :gender, [['Male', 'male'], ['Female', 'female'], ['Other', 'other']], {}, class: "form-select" %>
        </div>
        <div class="col-12 col-lg-6">
          <%= form.label :email, "Email", class: "form-label text-capitalize fw-bold mb-1 edit-fs-15" %>
          <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="col-12 col-lg-6">
          <%= form.label :age, "Age", class: "form-label text-capitalize fw-bold mb-1 edit-fs-15" %>
          <%= form.number_field :age, class: "form-control", placeholder: "Age" %>
        </div>
        <div class="col-12">
          <%= form.label :tags, "Tagging", class: "form-label text-capitalize fw-bold mb-1 edit-fs-15" %>
           <%= collection_select(:customer, :tag_ids, Tag.all, :id, :name, { }, { multiple: true, class: 'form-select', id: 'multiple-select-custom-field', 'data-placeholder': 'Choose anything', 'data-controller': 'table' }) %>
        </div>
      </div>
      <div class="text-md-end text-center">
        <%= form.submit "Save changes", class: "btn btn-primary px-5", data:{turbo: false} %>
      </div>
    <% end %>
  </div>
</div>
