<div class="me-auto p-2 bd-highlight" data-controller="clinic">
  <div class="row align-items-start">
    <%= search_form_for @q, url: administrator_customers_path, html: { method: :get }, class:'col-auto d-flex align-items-right justify-content-center' ,autofocus: true, autocomplete:"off", remote:true, id: 'search-form', data: { turbo_frame: 'search'} do |f| %>
      <%= f.search_field :full_name_or_email_or_age_cont,  class:'form-control search-input search' %>
      <%= f.button class: 'btn btn-outline-dark', style: 'width:80px; margin-left: 8px; background-color:gray', type: 'submit' do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %> 
  
    <div class="col-auto">
      <input type="checkbox" class="btn-check" id="btn-check-nam" name="options" autocomplete="off">
      <label class="btn btn-outline-primary" for="btn-check-name">Full Name</label><br>
    </div>
    
    <div class="col-auto">
      <input type="checkbox" class="btn-check" id="btn-check-email" name="options" autocomplete="off">
      <label class="btn btn-outline-primary" for="btn-check-email">Email</label><br>
    </div>  
    
    <div class="col-auto">
      <input type="checkbox" class="btn-check" id="btn-check-age" name="options" autocomplete="off">
      <label class="btn btn-outline-primary" for="btn-check-age">Age</label><br>
    </div>  
    
    <div class="col-auto">
      <input type="checkbox" class="btn-check" id="btn-check-tags" name="options" autocomplete="off">
      <label class="btn btn-outline-primary" for="btn-check-tags">Tags</label><br>
    </div>

    <div class="col-auto">
      <%= link_to 'clinics/new', class: 'btn btn-primary' do %>
        + Create new clinic
      <% end %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "search" do %>
  <div id="customer-table-container">
    <%= render partial: 'administrator/customers/table', locals: { customers: @customers, pagy: @pagy } %>
  </div>
<% end %>
