<div id="table-admin">
  <section class="container" style="height: 86vh; padding-top: 24px;">
    <div class="text-end mb-3">
      <%= button_to new_administrator_customer_path, method: :get, class: "btn btn-primary px-3" do %>
        <i class="fa-solid fa-plus me-2"></i>
        Create customer
      <% end %>
    </div>
   <div>
     <table class="table align-middle mb-0 bg-white">
      <thead style="font-size: 15px;">
        <tr>
          <th>Avatar</th>
          <th>Full name</th>
          <th>Email</th>
          <th scope="col" style="width: 250px;">Tagging</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <%= render partial: "administrator/modal/admin_modal", locals: { customer: customer } %>
          <tr>
            <td>              
              <%= image_tag((customer[:avatar].present? ? customer.avatar.url : 'noimage.png'), class: "rounded-circle avatar") %>
            </td>
            <td>
              <%= link_to administrator_customer_path(customer), class: 'text-decoration-none' do %>
                <span class="fw-bold"><%= customer.full_name %></span>
              <% end %>            
            </td>
            <td>
              <span class="fw-normal"><%= customer.email %></span>
            </td>
            <td style="min-width:225px;">
                <% customer.tags.each do |tag| %>
                  <span class="me-1 tag"><%= tag.name %></span>
                <% end %>
            </td>
            <td>
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis" style="font-size: 17px;"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><%= button_to "Show", administrator_customer_path(customer), method: :get, class: "dropdown-item" %></li>
                  <li> <%= button_to "Edit", edit_administrator_customer_path(customer), method: :get, class: "dropdown-item" %></li>
                  <li>
                    <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal">
                      Delete
                    </button>
                  </li>          
                </ul> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
  </section>
</div>
