<%= render partial: "administrator/modal/admin_modal", locals: { customer: @customer } %>
<div id="table-admin">
  <div class="container mt-3">
    <div class="row align-items-center justify-content-between mb-4">
      <div class="col-auto">
        <h2 class="mb-0 fs-2">Profile</h2>
      </div>
      <div class="col-auto">
        <div class="row g-2 g-sm-3">
          <div class="col-auto">
            <button type="button" class="btn btn-danger btn-del-cus" data-bs-toggle="modal" data-bs-target="#deleteModal">
              <i class="fa-solid fa-trash m-1"></i>
              Delete customer
            </button>
          </div>
          <div class="col-auto">
            <%= button_to edit_administrator_customer_path(@customer), method: :get, class: "btn btn-warning edit-fs-15" do %>
              <i class="fa-solid fa-pen-to-square m-1"></i> Edit customer
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="card h-100">
          <div class="card-body">
            <div class="border-bottom pb-4">
              <div class="row align-items-center text-center text-sm-start">
                <div class="col-12 col-sm-auto">
                    <%= image_tag "avatar_#{rand(1..2)}.png", class: 'rounded-circle avatar-show' %>
                </div>
                <div class="col-12 col-sm-auto flex-grow-1">
                  <h4><%= @customer.full_name %></h3>
                  <p>Joined <%= calculate_days_ago(@customer.created_at) %></p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-start align-items-center pt-4">
              <button type="button" class="btn btn-outline-primary mx-2">Not Examined</button>
              <button type="button" class="btn btn-outline-primary">Examined</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="border-bottom">
              <h4 class="mb-3 fs-4">Information</h4>
            </div>
            <div class="pt-4">
              <div class="row d-flex justify-content-between align-items-center mb-2">
                <div class="col-auto">
                  <h5 class="infor-title mb-0">Email</h5>
                </div>
                <div class="col-auto">
                  <span class="fw-normal"><%= @customer.email %></span>
                </div>
              </div>
              <div class="row d-flex justify-content-between align-items-center mb-2">
                <div class="col-auto">
                  <h5 class="infor-title mb-0">Age</h5>
                </div>
                <div class="col-auto">
                  <span class="fw-normal"><%= @customer.age %></span>
                </div>
              </div>
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-auto">
                  <h5 class="infor-title mb-0">Gender</h5>
                </div>
                <div class="col-auto">
                  <span class="fw-normal"><%= @customer.gender.capitalize %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
