<tr id="<%=  clinic[:id] %>">
	<td style="width: 50px;"><%= clinic[:id] %></td>
	<td style="width: 100px;"><%= clinic[:name] %></td>
	<td style="width: 100px;"><%= clinic[:address] %></td>
	<td style="width: 150px;"><%= clinic[:region] %></td>
	<td style="width: 150px;"><%= clinic[:faculity] %></td>
</tr>