<div class="container rounded bg-white mt-5" ,data-controller="dropzone" , style="border: solid 1px;">
  <div class="row">
    <div class="col-md-4 border-right" style="overflow-y: scroll; height:379px">
      <div class="row mt-2">
        <div class="col-md-6">
          <h4 class="font-weight-bold">Clinic Picture</h4>
        </div>
        <div class="col-auto ms-auto">
          <button type="button" class="btn btn-success" data-bs-toggle="modal"
            data-bs-target="#editModal<%=@clinic.id%>">
            Add pictures
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <% if @clinic.pictures.present? %>
          <% @clinic.pictures.each do |image| %>
            <div class="col-md-6">
              <%= image_tag image.url, class: 'img-fluid rounded mb-2' ,style: 'height: 200px; width: 200px' %>
            </div>
            <% end %>
              <% else %>
                <%= image_tag 'noimage' , class: 'img-fluid rounded px-3 mx-5' ,
                  style: 'max-height: 290px; max-width: 290px' %>
                  <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <%= link_to administrator_clinics_path, class: 'd-flex flex-row align-items-center back unstyled-link' do %>
            <i class="fa fa-long-arrow-left mb-2 mx-2"></i>
            <h6>Back to home</h6>
            <% end %>
              <h6 class="text-right">Edit Profile</h6>
        </div>
        <%= form_with(model: @clinic, url: administrator_clinic_path(@clinic), class: 'needs-validation' , novalidate:
          true, local: true, html: {multipart: true}) do |form| %>
          <div class="row mt-2">
            <div class="col-md-6">
              <%= form.label :name, 'Name' , class:'form-label' %>
                <%= form.text_field :name, class: 'form-control' , required: true %>
            </div>

            <div class="col-md-6">
              <%= form.label :address, 'Address' , class:'form-label' %>
                <%= form.text_field :address, class: 'form-control' , required: true %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <%= form.label :region, 'Region' , class:'form-label' %>
                <%= form.text_field :region, class: 'form-control' , required: true %>
            </div>

            <div class="col-md-6">
              <%= form.label :faculity, 'Faculity' , class:'form-label' %>
                <%= form.text_field :faculity, class: 'form-control' , required: true %>
            </div>
            <label class="pt-3">
              <%= form.check_box :remove_pictures %>
                Remove pictures
            </label>
          </div>
          <%= render 'administrator/clinics/modal' ,clinic: @clinic, form: form %>
          <div class="form-actions mt-2" style="text-align:right">
            <%= form.submit 'Save' , class: 'btn btn-primary' ,id:"submitButton" %>
            <%= button_to 'Cancel' , administrator_clinics_path, class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>p
    </div>
  </div>
</div>