<div class="me-auto p-2 bd-highlight" data-controller="clinic">
  <div class="row align-items-start">
    <%= search_form_for @q, url: administrator_clinics_path, html: { method: :get }, class:'col-auto', remote:true, id: 'search-form', data: { turbo_frame: 'search'} do |f| %>
      <%= f.search_field :name_or_address_or_faculity_or_region_cont, style:"width:200px;height:35px", class:'search-field' %>
      <%= f.button class: 'btn btn-outline-dark', type: 'submit' do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %> 
  
    <div class="col-auto">
      <input type="checkbox" class="btn-check" id="btn-check-name" name="options" autocomplete="off">
      <label class="btn btn-outline-primary" for="btn-check-name">Name</label><br>
    </div>
    
    <div class="col-auto">
      <input type="checkbox" class="btn-check" id="btn-check-address" name="options" autocomplete="off">
      <label class="btn btn-outline-primary" for="btn-check-address">Address</label><br>
    </div>  
    
    <div class="col-auto">
      <input type="checkbox" class="btn-check" id="btn-check-region" name="options" autocomplete="off">
      <label class="btn btn-outline-primary" for="btn-check-region">Region</label><br>
    </div>  
    
    <div class="col-auto">
      <input type="checkbox" class="btn-check" id="btn-check-faculity" name="options" autocomplete="off">
      <label class="btn btn-outline-primary" for="btn-check-faculity">Faculity</label><br>
    </div>

    <div class="col-auto">
      <%= link_to 'clinics/new', class: 'btn btn-primary' do %>
        + Create new clinic
      <% end %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "search" do %>
  <div id="clinic-table-container">
    <%= render partial: 'administrator/clinics/table', locals: { clinics: @paginated_clinics, pagy: @pagy } %>
  </div>
<% end %>
