<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :id, "#", class: 'text-dark text-decoration-none')  %></th>
      <th scope="col"><%= sort_link(@q, :first_name, "First Name", default_order: :desc, class: 'text-dark text-decoration-none') %></th>
      <th scope="col"><%= sort_link(@q, :last_name, "Last Name", default_order: :desc, class: 'text-dark text-decoration-none') %></th>
      <th scope="col"><%= sort_link(@q, :gender, "Gender", default_order: :desc, class: 'text-dark text-decoration-none') %></th>
      <th scope="col"><%= sort_link(@q, :address, "Address", default_order: :desc, class: 'text-dark text-decoration-none') %></th>
      <th scope="col"><%= sort_link(@q, :email, "Email", default_order: :desc, class: 'text-dark text-decoration-none')%></th>
      <th scope="col"><%= sort_link(@q, :phone, "Phone", default_order: :desc, class: 'text-dark text-decoration-none')%></th>
      <th scope="col">Detail</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody id="employee-table-body">
    <% if @records.size.zero? %>
      <tr>
        <td colspan="7">No data</td>
      </tr>
    <% else %>
      <%= render partial: 'table_line', collection: @records, as: :employee %>
    <% end %>
  </tbody>
</table>
