<br>
<h1>Listing Employees</h1>
<%= render partial: 'shared/flash'%>
<table class="table  table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Address</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee|%>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.gender%></td>
        <td><%= employee.address%></td>
        <td>
          <div class="d-flex">
              <%= link_to 'Edit', edit_admins_employee_path(employee), class: 'btn btn-primary' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
