<%= render 'shared/toast_flash' %>
<h4 class="fw-bold">EMPLOYEES LIST</h4>
<div class="d-flex justify-content-between pb-3">
  <%= link_to new_admins_employee_path, class: 'd-flex align-items-center text-primary', 
                                        style: 'text-decoration: none;', 
                                        data: { turbo_frame: 'container-frame', turbo_action: 'replace' } do %>
    <i class="fa-solid fa-circle-plus"></i>&nbsp;New Employee
  <% end %>
  <div class="w-50">
    <%= render partial: 'shared/search_box' %>
  </div>
</div>
<%= render 'table' %>
<%= render partial: 'shared/pagination' %>
