<div id="<%= dom_id branch %>">
  <p>
    <strong>Name:</strong>
    <%= branch.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= branch.address %>
  </p>

  <p>
    <strong>Ward:</strong>
    <%= branch.ward %>
  </p>

  <p>
    <strong>District:</strong>
    <%= branch.district %>
  </p>

  <p>
    <strong>City:</strong>
    <%= branch.city %>
  </p>

  <p>
    <strong>Clinic:</strong>
    <%= branch.clinic_id %>
  </p>

</div>
