<p style="color: green"><%= notice %></p>

<%= render @branch %>

<div>
  <%= link_to "Edit this branch", edit_administrator_branch_path(@branch) %> |
  <%= link_to "Back to branches", administrator_branches_path %>

  <%= button_to "Destroy this branch", administrator_branch_path(@branch), method: :delete %>
</div>
