<%= form_with model: student do |form| %>
	<% if @student.errors.any? %>
		<div class="alert alert-danger">
			<% @student.errors.full_messages.each do |message| %>
				<div><%= message%></div>
			<% end %>
		</div>
	<% end %>
	<div class="mb-3">
		<%= form.label :first_name%><br>
		<%= form.text_field :first_name, class: "form-control"%>
	</div>
	<div class="mb-3">
		<%= form.label :last_name%><br>
		<%= form.text_field :last_name, class: "form-control"%>
	</div>
	<div class="mb-3">
		<%= form.label :age%><br>
		<%= form.text_field :age, class: "form-control"%>
	</div>
	<div class="mb-3">
		<%= form.label :address%><br>
		<%= form.text_field :address, class: "form-control"%>
	</div>
	<div class="mb-3">
		<%= form.label :city%><br>
		<%= form.text_field :city, class: "form-control"%>
	</div>
	<div class="mb-3">
		<%= form.label :province%><br>
		<%= form.text_field :province, class: "form-control"%>
	</div>
	<div class="mb-3">
		<%= form.label :email%><br>
		<%= form.email_field :email, class: "form-control"%>
	</div>
	<div class="mb-3">
		<%= form.label :class_room%><br>
		<%= form.collection_select :class_room_id, ClassRoom.all, :id, :name, {}, { class: "form-control" }%>
	</div>
  <div class="mb-3">
		<%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
