<h1>Student infomation</h1>

<p>Name: <%= @student.first_name + " " + @student.last_name%></p>
<p>Email: <%= @student.email %> </p>
<p>Date of Birth: <%= @student.dob %></p>
<p>Contact number <%= @student.contact_number %></p>
<p>Address: <%= @student.address %></p>
<p>Blogs count: <%= @student.blogs_count %></p>


