<tr>
  <th scope="row"><%= jobcategory.id %></th>
  <td><%= jobcategory.country %></td>
  <td><%= jobcategory.job_category_id %></td>
  <td><%= jobcategory.job_id %></td>
  <td><%= jobcategory.description %></td>
  <td>
    <%= link_to admins_jobcategory_path (jobcategory), class: 'btn btn-success', data: { turbo_frame: 'container-frame', turbo_action: 'replace' } do %>
      <i class="fa-solid fa-eye"></i>
    <% end %>
  </td>
  <td>
    <%= link_to edit_admins_jobcategory_path (jobcategory), class: 'btn btn-primary', data: { turbo_frame: 'container-frame', turbo_action: 'replace' } do %>
      <i class="fa-solid fa-pen"></i>
    <% end %>
  </td>
  <td>
    <%= button_to admins_jobcategory_path (jobcategory), method: :delete, class: 'btn btn-danger ms-1', data: { turbo_frame: 'container-frame', turbo_action: 'replace', turbo_confirm: 'Are you sure?' } do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
  </td>
</tr>
