<br>
<h1>Listing Job Categories</h1>
<%= render partial: 'shared/flash'%>
<table class="table  table-striped">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Country</th>
      <th>Job Category status</th>
      <th>Category Description</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @jobcategories.each do |jobcategory|%>
      <tr>
        <td><%= jobcategory.category_name %></td>
        <td><%= jobcategory.country %></td>
        <td><%= jobcategory.job_category_status %></td>
        <td><%= jobcategory.description%></td>
        <td>
          <div class="d-grid gap-2 col-4">
              <%= link_to 'Edit', edit_admins_jobcategory_path(jobcategory), class: 'btn btn-primary', remote: true%>
          </div>
            <div class="d-grid gap-2 col-4" >
              <%= link_to 'Show', admins_jobcategory_path(jobcategory),class: 'btn btn-info'%>
          </div>
            <div class="d-grid gap-2 col-4" >
              <%= button_to 'Delete', admins_jobcategory_path(jobcategory), method: :delete, class: 'btn btn-danger', remote: true %>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

