<%= render partial: 'shared/flash'%>
<h1>New job Category</h1>
<%= form_with model: @jobcategory, url: admins_jobcategories_path do |form| %>
  <div class="mb-3">
    <%= form.label :category_name, class: "form-label" %><br>
    <%= form.text_field :category_name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :country, class: "form-label"%><br>
    <%= form.text_field :country, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :job_category_status, class: "form-label"%><br>
    <%= form.text_field :job_category_status, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: "form-label"%><br>
    <%= form.text_field :description, class: "form-control"%>
  </div>
    <%= link_to  admins_jobcategories_path, style: 'text-decoration: none;', data: { turbo_frame: 'container-frame', turbo_action: 'replace' } do %>
      <i class="fa-solid fa-backward"></i>&nbsp;Job Category List
    <% end %>
  <%= form.submit class: 'btn btn-primary', data: { turbo_frame: 'container-frame', turbo_action: 'replace' } %>
  </div>
<% end %>
