<h1>Listing Classrooms</h1>
<%= link_to 'New', new_class_room_path %>
<table class="table table-dark table-striped">
	<thead>
		<tr>
			<th>Class name</th>
			<th>Location</th>
			<th>Students total</th>
			<th colspan="3">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @class_rooms.each do |class_room| %>
			<tr>
				<td><%= class_room.name%></td>
				<td><%= class_room.location%></td>
				<td><%= class_room.students_count%></td>
				<td>
					<div style="display: flex;">
						<%= link_to 'View students', class_room, method: 'get', class: 'btn btn-primary me-3'%>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
