<!DOCTYPE html>
<html>
  <head>
    <title>DemoApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Recruitment Website">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="body-container" class="container-fluid">
      <div id="header-container">
        <%= render partial: 'shared/admin/header' %>
      </div>
      <div id="admin-container" class="row">
        <div id="menu-container" class="col-lg-2 p-3 width-menu-mobile">
          <%= render partial: 'shared/admin/left_menu' %>
        </div>
        <div id="content-container" class="col-lg-10 p-3 width-content-mobile">
          <div id="main-container">
            <p><%= render partial: 'shared/flash' %></p>
            <%= yield %>
          </div>
          <div id="footer-container">
            <%= render partial: 'shared/admin/footer' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
