<%= form_with model: blog, url: blogs_path do |form| %>
  <% if form.object.errors.any? %>

    <% form.object.errors.full_messages.each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
