<%= form_with url: url, method: method do |form| %>

<%= render partial: 'shared/flash' %>

<div class="mb-3">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control", placeholder: "Steven Jobs", value: (old&.name) %>
</div>
<div class="mb-3">
  <%= form.label :email %>
  <%= form.text_field :email, class: "form-control", placeholder: "steve@apple.com", value: (old&.email) %>
</div>

<% unless old.present? %>
<div class="mb-3">
	<%= form.label :password %>
	<%= form.password_field :password, class: "form-control", placeholder: "password" %>
</div>
<div class="mb-3">
	<%= form.label :password_confirmation %>
	<%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
</div>
<% end %>

<div class="mb-3">
  <%= form.submit :Submit, class: "btn btn-primary"%>
</div>

<% end %>
