<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="<%=root_path%>">MyApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%=users_path%>">User</a>
        </li>
      </ul>
    </div>

    <% if logged_in?  %>
    <div class= "me-5">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><%= session[:user]['name']%></a>
        </li>
        <li><%= button_to 'Log Out', logout_path, class: 'btn btn-secondary', method: 'delete' %></li>
      </ul>
    </div>
    <% else %>
    <div class= "me-5">
      <%= link_to 'Log In', login_path, class: 'btn btn-secondary' %>
    </div>
    <% end %>
  </div>
</nav>
