<div class='toast-container position-fixed top-0 end-0 p-3'>
  <div id='liveToast' class='toast' role='alert' aria-live='assertive' aria-atomic='true' data-turbo="false">
    <div class='toast-header text-<%= title == 'error' ? 'danger' : 'success' %>'>
      <% if title == 'error' %>
        <i class="fa-solid fa-circle-exclamation"></i>
      <% else %>
        <i class="fa-solid fa-circle-check"></i>
      <% end %>
      <strong class='me-auto ms-1 text-<%=title == 'error' ? 'danger' : title.downcase%>'>
        <%=title.capitalize%>
      </strong>
      <button type='button' class='btn-close' data-bs-dismiss='toast' aria-label='Close'></button>
    </div>
    <div class='toast-body'>
      <% if content.class.name == 'String' %>
        <%= content %>
      <% else %>
        <% content.each do |line| %>
          <%= line %><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script type='text/javascript'>
  document.addEventListener("turbo:load", function() {
    const toastLiveExample = document.getElementById('liveToast')
    const toastBootstrap = new bootstrap.Toast(toastLiveExample);
    toastBootstrap.show();
  })
</script>
