<section class="container-fluid">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "administrator/shared/error_messages" , resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-outline mb-3">
            <%= f.password_field :password, autocomplete: "new-password" , class: "form-control form-control-lg" ,
              placeholder: "Enter password" %>
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="form-outline mb-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" ,
              class: "form-control form-control-lg" , placeholder: "Confirm password" %>
            <label class="form-label" for="form3Example5">Confirm Password</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <%= f.submit "Change my password" , class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
