<div class="d-flex justify-content-between align-items-center">
  <h4 class="fw-bolder">Detail Page</h4>
  <div>
    <%= link_to new_admins_job_tag_path, class: 'btn btn-primary', data: { turbo_frame: 'container-frame', turbo_action: 'replace' } do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
    <%= link_to admins_job_tags_path, class: "btn btn-secondary", data: { turbo_frame: 'container-frame', turbo_action: 'replace' } do %>
      <i class="fa-solid fa-list-ul"></i>
    <% end %>
  </div>
</div>
<div class="container text-centre">
  <div class="row align-items-start">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Job Tag Details</h5>
        </div>
          <div class="card-body position-relative">
        <%= link_to edit_admins_job_tag_path(@job_tag), class: 'btn btn-primary position-absolute top-0 end-0 m-2', style: 'z-index: 1;' , data: { turbo_frame: 'container-frame', turbo_action: 'replace' } do %>
          <i class="fa-solid fa-pen"></i>
        <% end %>
        <div class="card-body">
          <br>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row">Country</th>
                <td><%= @job_tag.country %></td>
              </tr>
              <tr>
                <th scope="row">Job_id</th>
                <td><%= @job_tag.job_id %></td>
              </tr>
              <tr>
                <th scope="row">Job_category_id</th>
                <td><%= @job_tag.job_category_id %></td>
              </tr>
              <tr>
                <th scope="row">Description</th>
                <td><%= @job_tag.description %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
