<div id="authentication-administrator">
  <div class="container-fluid full-vh">
    <div class="row d-flex justify-content-center align-items-center full-vh">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Clinic sign-in">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "administrator/shared/notice_messages" %>
          <div class="form-group">
            <%= f.label :username, class: 'mb-2' %>
            <%= f.text_field :username, class: "form-control form-control-lg", autocomplete: "username" %>
          </div>
          <div class="form-group mt-3">
            <%= f.label :password, class: "mb-2" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>
          </div>
          
          <% if devise_mapping.rememberable? %>
            <div class="form-group mb-3 mt-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-primary btn-lg w-100", data: {turbo: false} %>
          </div>
        <% end %>
        <div class="d-flex justify-content-between align-items-center mt-4">
          <%= render "administrator/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
