<% provide(:title, 'Cart') %>
<h1 class="text-center mb-5">Shopping Cart</h1>
<div style="display: flex" class="container my-5">
    <div style="margin-right: 20px" class="col-sm-8">
      <div style="border:none" class="card">
        <div class="cart-body">
          <h3>Cart</h3>
          <% @cart.each do |item| %>
            <div class="row">
              <div class="col-sm-9">
                <div>
                  <h5><%= item.product.product_name.titleize %></h5>
                  <p class="mb-2 text-muted small"><%= item.product.description %></p>
                  <div class="my-3">
                    <label for="quantity">Quantity:</label>
                    <a pid="<%= item.product.id %>" class="minus-cart btn"><i class="fas fa-minus-square fa-lg"></i></a>
                    <span id="quantity"><%= item.quantity %></span>
                    <a pid="<%= item.product.id %>" class="plus-cart btn"><i class="fa fa-plus-square fa-lg"></i></a>
                  </div>
                  <div class="d-flex justify-content-between">
                    <a pid="<%= item.product.id %>" class="remove-cart btn btn-sm btn-secondary mr-3">Remove item</a>
                    <% if item.product.discount_price == 0 %>
                      <p class="mb-0"><span><strong style="margin-right: 20px"><%= number_with_precision(item.product.price, precision: 0) %>$</strong></span></p>
                    <% else %>
                      <p class="mb-0"><span><strong style="margin-right: 20px"><%= number_with_precision(item.product.discount_price, precision: 0) %>$</strong></span></p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <hr class="text-muted">
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3>The Total Amount Of</h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center px-0 border-0 pb-0">
              Amount <span><strong id="amount"><%= number_with_precision(@amount, precision: 0) %></strong><strong>$</strong></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">Shipping <span>40$</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0 border-0 mb-3">
              <div>
                <strong>Total USD</strong>
              </div>
              <span><strong id="totalamount"><%= number_with_precision(@totalamount, precision: 0) %></strong><strong>$</strong></span>
            </li>
          </ul>
          <div class="d-grid">
            <%= link_to "Place Order", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
</div>
