<tr>
  <th scope="row"><%= account.id%></th>
  <td><%= account.email%></td>
  <td><%= account.phone%></td>
  <td>@<%= account.role%></td>
  <td><%= link_to 'Edit', edit_admins_account_path(account), class: 'btn btn-light'%></td>
  <td><%= button_to 'Destroy', admins_account_path(account), class: 'btn btn-danger',method: 'delete'%></td>
</tr>
