
<!-- Left sidebar start -->
<div class="leftside-menu">
  <!-- LOGO -->
  <a href="<%= products_path %>" class="logo text-center logo-light">
  <span class="logo-lg">
  <%= image_tag("zyro-image.png", alt: "", height: 66) %>
  </span>
  <span class="logo-sm">
  <%= image_tag("zyro-image.png", alt: "", height: 66) %>
  </span>
  </a>
  <!-- LOGO -->
  <a href="<%= administrator_root_path %>" class="logo text-center logo-dark">
  <span class="logo-lg">
  <%= image_tag("zyro-image.png", alt: "", height: 66) %>
  </span>
  <span class="logo-sm">
  <%= image_tag("zyro-image.png", alt: "", height: 66) %>
  </span>
  </a>
  <div class="h-100" id="leftside-menu-container" data-simplebar="">
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-title side-nav-item">Navigation</li>
      <li class="side-nav-item">
        <a href="<%= products_path %>" class="side-nav-link">
          <i class="uil-streering"></i>
          <span> Dash Board </span>
        </a>
      </li>   
      <li class="side-nav-item">
        <a href="<%= administrator_admins_path %>" class="side-nav-link">
          <i class="uil-streering"></i>
          <span> Admins </span>
        </a>
      </li>   
    </ul>
    <!-- End Sidebar -->
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
