<%= javascript_include_tag 'admin_menu' %>
<div class="row navbar">
  <div class="col-lg-6 d-flex justify-content-evenly align-items-center width-half-mobile">
    <div id="toggle-button" class="p-3">
      <%# Menu Icon %>
      <i class="fa-solid fa-bars fa-xl"></i>
    </div>
    <div class="text-center px-5 none-padding-mobile">
      <%= image_tag("logo.png", alt: "logo", height: 70, class: '') %>
    </div>
    <div class="navbar-collapse hide-on-mobile" id="navbarSupportedContent">
      <%= render partial: 'shared/search_box' %>
    </div>
  </div>
  <!-- Right elements -->
  <div class="col-lg-6 d-flex flex-row-reverse align-items-center width-half-mobile">
    <!-- Avatar -->
    <div class="dropdown">
      <a class="mb-2 dropdown-toggle d-flex align-items-center hidden-arrow" data-bs-toggle="dropdown" role="button" aria-expanded="false">
      <% if current_account&.avatar %>
        <%= image_tag("/uploads/account/avatar/#{current_account.id}/avatar_small.jpg", class: "rounded-circle", height: "40", alt:  "Profile image") %>
      <% else %> 
        <%= image_tag('/image/default.jpg', class: "rounded-circle", height: "40", alt:  "Profile image") %>
      <% end %>
      </a>
      <ul class="position-absolute dropdown-menu dropdown-menu-end" style="position: absolute; right: 0;" >
        <li><%= link_to "My Profile", admins_account_path(current_account), class:"dropdown-item" %></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><%= button_to "Log out", destroy_account_session_path, method: :delete, class:"dropdown-item" %></li>
      </ul>
    </div>
    <!-- Notifications -->
    <div class="dropdown">
      <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
        <i class="fa-regular fa-bell fa-xl"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Some news</a></li>
        <li><a class="dropdown-item" href="#">Another news</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <!-- Icon -->
    <a class="text-reset me-3" href="#">
      <i class="fa-solid fa-inbox fa-xl"></i>
    </a>
  </div>
  <!-- Right elements -->
</div>
