<ul class="navbar-nav fs-6">
  <li class="nav-item py-2">
    <%= link_to '#', class: 'nav-link row d-flex', role: 'button', data: { toggle: 'collapse', target: '#collapse_dashboard', turbo: false }, 'aria-expanded': 'true', 'aria-controls': 'collapse2' do %>
      <div class="col-lg-2">
        <i class="fa-solid fa-gauge-high fa-lg"></i>
      </div>
      <div class="col-lg-10 toggle hide-on-mobile">
        <div class="d-flex justify-content-between align-items-center">
          <span>Dashboard</span>
          <i class="fa-solid fa-angle-down collapse-icon rotate"></i>
        </div>
      </div>
    <% end %>
    <div id="collapse_dashboard" class="collapse">
      <ul class="navbar-nav">
        <li class="nav-item ps-3">
          <%= link_to "Analytics", admin_root_path, class: 'nav-link', data: { turbo: false } %>
          <%= link_to "Management", admin_root_path, class: 'nav-link', data: { turbo: false } %>
        </li>
      </ul>
    </div>
  </li>

  <li class="nav-item py-2 toggle hide-on-mobile">
    <div class="d-flex align-items-center">
      <span class="pe-3">Feature</span>
      <hr class="ml-5 w-100">
    </div>
  </li>

  <li class="nav-item py-2">
    <%= link_to '#', class: 'nav-link row d-flex', role: 'button', data: { toggle: 'collapse', target: '#collapse_accounts', turbo: false }, 'aria-expanded': 'true', 'aria-controls': 'collapse2' do %>
      <div class="col-lg-2">
        <i class="fa-solid fa-circle-user fa-lg"></i>
      </div>
      <div class="col-lg-10 toggle hide-on-mobile">
        <div class="d-flex justify-content-between align-items-center">
          <span>Accounts</span>
          <i class="fa-solid fa-angle-down collapse-icon rotate"></i>
        </div>
      </div>
    <% end %>
    <div id="collapse_accounts" class="collapse">
      <ul class="navbar-nav">
        <li class="nav-item ps-3">
          <%= link_to "New account", new_admins_account_path, class: 'nav-link', data: { turbo_frame: 'container-frame', turbo_action: 'replace' } %>
          <%= link_to "Account List", admins_accounts_path, class: 'nav-link', data: { turbo: false } %>
        </li>
      </ul>
    </div>
  </li>

  <li class="nav-item py-2">
    <%= link_to '#', class: 'nav-link row d-flex', role: 'button', data: { toggle: 'collapse', target: '#collapse_employers', turbo: false }, 'aria-expanded': 'true', 'aria-controls': 'collapse2' do %>
      <div class="col-lg-2">
        <i class="fa-solid fa-building-user fa-lg"></i>
      </div>
      <div class="col-lg-10 toggle hide-on-mobile">
        <div class="d-flex justify-content-between align-items-center">
          <span>Employers</span>
          <i class="fa-solid fa-angle-down collapse-icon rotate"></i>
        </div>
      </div>
    <% end %>
    <div id="collapse_employers" class="collapse">
      <ul class="navbar-nav">
        <li class="nav-item ps-3">
          <%= link_to "New account", admin_root_path, class: 'nav-link', data: { turbo: false } %>
          <%= link_to "Account List", admin_root_path, class: 'nav-link', data: { turbo: false } %>
        </li>
      </ul>
    </div>
  </li>

  <li class="nav-item py-2">
    <%= link_to '#', class: 'nav-link row d-flex', role: 'button', data: { toggle: 'collapse', target: '#collapse_employees', turbo: false }, 'aria-expanded': 'true', 'aria-controls': 'collapse2' do %>
      <div class="col-lg-2">
        <i class="fa-solid fa-user-group fa-lg"></i>
      </div>

      <div class="col-lg-10 toggle hide-on-mobile">
        <div class="d-flex justify-content-between align-items-center">
          <span>Employees</span>
          <i class="fa-solid fa-angle-down collapse-icon rotate"></i>
        </div>
      </div>
    <% end %>
    <div id="collapse_employees" class="collapse">
      <ul class="navbar-nav">
        <li class="nav-item ps-3">
          <%= link_to "New account", admin_root_path, class: 'nav-link', data: { turbo: false } %>
          <%= link_to "Account List", admin_root_path, class: 'nav-link', data: { turbo: false } %>
        </li>
      </ul>
    </div>
  </li>
</ul>
