<% if flash[:success] %>
  <%= render partial: '/shared/partials/notice', locals: { title: 'success', content: flash[:success] } %>
<% end %>
<% if flash[:error] %>
  <%= render partial: '/shared/partials/notice', locals: { title: 'error', content: flash[:error] } %>
<% end %>
<section class='py-5'>
  <%= form_for @product, remote: true do |form| %>
    <div class='container px-5 px-lg-5'>
      <div class='d-flex justify-content-between pb-2'>
        <div class='d-flex justify-content-start'>
          <%= link_to products_path, remote: true, class: 'btn btn-dark' do %>
            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-return-left' viewBox='0 0 16 16'>
              <path fill-rule='evenodd' d='M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z'/>
            </svg>
          <% end %>
          <%= link_to 'New Products', new_product_path, remote: true, class: 'btn btn-success ms-1' %>
        </div>

        <div class='d-flex justify-content-end'>
          <button type='button' id='editIcon' class='btn btn-success edit-icon'>
            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil-fill' viewBox='0 0 16 16'>
              <path d='M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z'/>
            </svg>
          </button>
          <%= link_to product, method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger ms-1'  do%>
            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash-fill' viewBox='0 0 16 16'>
              <path d='M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z'/>
            </svg>
          <% end %>
        </div>

        </button>
      </div>
      <div class='row gx-4 gx-lg-5 align-items-top'>
          <div class='col-md-6'>
            <img class='card-img-top mb-5 mb-md-0' src='https://dummyimage.com/600x700/dee2e6/6c757d.jpg' alt='...' />
            <div class='small'>
              <%=product.images.first ? product.images.first.link : '/path/to/images/null' %>
            </div>
          </div>
          <div class='col-md-6' id='detail-field'>
          <% if @product.errors.any? %>
             <div class='d-flex align-items-center mb-3 text-secondary' >
                <div class='spinner-border' role='status'>
                  <span class='visually-hidden'>Loading...</span>
                </div>
                <div class='px-2'>Please update with the correct type. Waiting... </div>
            </div>
          <% end %>
            <div class='medium mb-1' >
                Product ID: #<%=product.id%>
            </div>
            <div class='fs-1 fw-bolder mb-5'>
              <p class='displayText' style='display: none;'>
                <%=product.name%>
              </p>
              <div class='input-group input-group-lg edit-input name align-items-center'>
                <%= form.label :name, class: 'form-label col-md-3' %>
                <%= form.text_field :name, class: 'form-control col-md-9' %>
              </div>
            </div>
            <div class='fs-5 mb-3'>
              <span class='displayText' style='display: none;'>
                  <%= number_to_currency(product.price, :unit => '$', :separator => '.', :delimiter => ',') %>
              </span>
              <div class='input-group input-group-lg edit-input price align-items-center'>
                <%= form.label :price, class: 'form-label pe-3 col-md-3' %>
                <%= form.text_field :price, class: 'form-control col-md-9' %>
              </div>
            </div>
            <div class='fs-5 mb-3'>
              <p class='displayText' style='display: none;'>
                <%=product.description%>
              </p>
              <div class='input-group input-group-lg edit-input price align-items-center'>
                <%= form.label :description, class: 'form-label pe-3 col-md-3' %>
                <%= form.text_area :description, class: 'form-control col-md-9', rows: 5 %>
              </div>
            </div>
            <div class='fs-5 mb-3'>
              <span class='displayText' style='display: none;'>
                  <%=product.category.name%>
              </span>
              <div class='input-group input-group-lg edit-input price align-items-center'>
                <%= form.label :category_id, class: 'form-label pe-3 col-md-3' %>
                <%= form.collection_select :category_id, @categories, :id, :name, {}, { class: 'form-control col-md-9', aria: {label: 'Default select example' } } %>
              </div>
            </div>
            <div class='medium mb-1'>
                Created At: <%=(product.created_at)%>
            </div>
            <div class='medium mb-1'>
                Latest Updated At: <%=(product.updated_at)%>
            </div>
          </div>
      </div>
    </div>
    <div class='d-flex justify-content-end'>
      <%= form.submit class: 'btn btn-success edit-icon' %>
    </div>
  <% end %>
</section>

<script>
$(document).ready(function() {
  $('#editIcon').click(function() {
    $('.displayText').toggle();
    $('.input-group').toggle();
  });

  $('#saveBtn').click(function() {
    var editedText = $('#editInput').val();
    $('#displayText').text(editedText);
    $('#displayText').show();
    $('.input-group').hide();
  });
});
</script>
