<section class='py-5'>
  <%= form_with(model: product) do |form| %>
    <div class='container px-4 px-lg-5 my-5'>
      <div class='d-flex justify-content-end'>
        <button type='button' id='editIcon' class='btn btn-success edit-icon'>
          <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil-fill' viewBox='0 0 16 16'>
            <path d='M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z'/>
          </svg>
        </button>
      </div>
      <div class='row gx-4 gx-lg-5 align-items-center'>
          <div class='col-md-6'><img class='card-img-top mb-5 mb-md-0' src='https://dummyimage.com/600x700/dee2e6/6c757d.jpg' alt='...' /></div>
          <div class='col-md-6' id='detail-field'>
            <div class='small mb-1'>
                Product ID: #<%=product.id%>
            </div>
            <h1 class='display-5 fw-bolder'>
              <p class='displayText'>
                <%=product.name%>
              </p>
              <div class='input-group input-group-lg edit-input name align-items-center' style='display: none;'>
                <%= form.label :name, class: 'form-label pe-3 col-md-3' %>
                <%= form.text_field :name, class: 'form-control col-md-9' %>
              </div>
            </h1>
            <div class='fs-5 mb-5'>
              <span class='displayText'>
                  <%= number_to_currency(product.price, :unit => '$', :separator => '.', :delimiter => ',') %>
              </span>
              <div class='input-group input-group-lg edit-input price align-items-center' style='display: none;'>
                <%= form.label :price, class: 'form-label pe-3 col-md-3' %>
                <%= form.text_field :price, class: 'form-control col-md-9' %>
              </div>
            </div>
            <div class='fs-5 mb-5'>
              <p class='lead displayText'>
                <%=product.description%>
              </p>
              <div class='input-group input-group-lg edit-input price align-items-center' style='display: none;'>
                <%= form.label :price, class: 'form-label pe-3 col-md-3' %>
                <%= form.text_field :price, class: 'form-control col-md-9' %>
              </div>
            </div>            
            <div class='d-flex'>
                <input class='form-control text-center me-3' id='inputQuantity' type='num' value='1' style='max-width: 3rem' />
                <button class='btn btn-outline-dark flex-shrink-0' type='button'>
                    <i class='bi-cart-fill me-1'></i>
                    Add to cart
                </button>
            </div>
          </div>
      </div>
    </div>
  <div>
    <%= form.submit class: 'btn btn-success edit-icon' %>
  </div>
<% end %>

</section>
<!-- Related items section-->
<section class='py-5 bg-light'>
    <div class='container px-4 px-lg-5 mt-5'>
        <h2 class='fw-bolder mb-4'>Related products</h2>
        <div class='row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center'>
            <div class='col mb-5'>
                <div class='card h-100'>
                    <!-- Product image-->
                    <img class='card-img-top' src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg' alt='...' />
                    <!-- Product details-->
                    <div class='card-body p-4'>
                        <div class='text-center'>
                            <!-- Product name-->
                            <h5 class='fw-bolder'>Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class='card-footer p-4 pt-0 border-top-0 bg-transparent'>
                        <div class='text-center'><a class='btn btn-outline-dark mt-auto' href='#'>View options</a></div>
                    </div>
                </div>
            </div>
            <div class='col mb-5'>
                <div class='card h-100'>
                    <!-- Sale badge-->
                    <div class='badge bg-dark text-white position-absolute' style='top: 0.5rem; right: 0.5rem'>Sale</div>
                    <!-- Product image-->
                    <img class='card-img-top' src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg' alt='...' />
                    <!-- Product details-->
                    <div class='card-body p-4'>
                        <div class='text-center'>
                            <!-- Product name-->
                            <h5 class='fw-bolder'>Special Item</h5>
                            <!-- Product reviews-->
                            <div class='d-flex justify-content-center small text-warning mb-2'>
                                <div class='bi-star-fill'></div>
                                <div class='bi-star-fill'></div>
                                <div class='bi-star-fill'></div>
                                <div class='bi-star-fill'></div>
                                <div class='bi-star-fill'></div>
                            </div>
                            <!-- Product price-->
                            <span class='text-muted text-decoration-line-through'>$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class='card-footer p-4 pt-0 border-top-0 bg-transparent'>
                        <div class='text-center'><a class='btn btn-outline-dark mt-auto' href='#'>Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class='col mb-5'>
                <div class='card h-100'>
                    <!-- Sale badge-->
                    <div class='badge bg-dark text-white position-absolute' style='top: 0.5rem; right: 0.5rem'>Sale</div>
                    <!-- Product image-->
                    <img class='card-img-top' src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg' alt='...' />
                    <!-- Product details-->
                    <div class='card-body p-4'>
                        <div class='text-center'>
                            <!-- Product name-->
                            <h5 class='fw-bolder'>Sale Item</h5>
                            <!-- Product price-->
                            <span class='text-muted text-decoration-line-through'>$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class='card-footer p-4 pt-0 border-top-0 bg-transparent'>
                        <div class='text-center'><a class='btn btn-outline-dark mt-auto' href='#'>Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class='col mb-5'>
                <div class='card h-100'>
                    <!-- Product image-->
                    <img class='card-img-top' src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg' alt='...' />
                    <!-- Product details-->
                    <div class='card-body p-4'>
                        <div class='text-center'>
                            <!-- Product name-->
                            <h5 class='fw-bolder'>Popular Item</h5>
                            <!-- Product reviews-->
                            <div class='d-flex justify-content-center small text-warning mb-2'>
                                <div class='bi-star-fill'></div>
                                <div class='bi-star-fill'></div>
                                <div class='bi-star-fill'></div>
                                <div class='bi-star-fill'></div>
                                <div class='bi-star-fill'></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class='card-footer p-4 pt-0 border-top-0 bg-transparent'>
                        <div class='text-center'><a class='btn btn-outline-dark mt-auto' href='#'>Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
$(document).ready(function() {
  $('#editIcon').click(function() {
    $('.displayText').hide();
    $('.input-group').show();
  });

  $('#saveBtn').click(function() {
    var editedText = $('#editInput').val();
    $('#displayText').text(editedText);
    $('#displayText').show();
    $('.input-group').hide();
  });
});
</script>
