<% if flash[:success] %>
  <%= render partial: '/shared/partials/notice', locals: { title: 'success', content: flash[:success] } %>
<% end %>
<% if flash[:error] %>
  <%= render partial: '/shared/partials/notice', locals: { title: 'error', content: flash[:error] } %>
<% end %>
<%= form_for @product, remote: true do |form| %>
  <div>
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Enter Name' %>

    <%= form.label :price, class: 'form-label' %>
    <%= form.text_field :price, class: 'form-control', placeholder: 'Enter Price' %>

    <%= form.label :description, class: 'form-label' %>
    <%= form.text_field :description, class: 'form-control', placeholder: 'Enter Description'  %>

    <%= form.label :quantity, class: 'form-label' %>
    <%= form.text_field :quantity, class: 'form-control', placeholder: 'Enter Name'  %>

    <%= form.label :category_id, class: 'form-label' %>
    <%= form.collection_select :category_id, @categories, :id, :name, {}, { class: 'form-control', aria: {label: 'Default select example' } } %>
  </div>
  
  <div>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>

<script type='text/javascript'>
  const toastLiveExample = document.getElementById('liveToast')
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
  toastBootstrap.show()
</script>
