<%= form_for @product, remote: true, html: { id: 'product-form' } do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
        <div class="alert alert-danger fs-10 display-100" role="alert">
          <%= error.full_message %>
        </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>

    <%= form.label :price, class: 'form-label' %>
    <%= form.text_field :price, class: 'form-control' %>

    <%= form.label :description, class: 'form-label' %>
    <%= form.text_field :description, class: 'form-control' %>

    <%= form.label :quantity, class: 'form-label' %>
    <%= form.text_field :quantity, class: 'form-control' %>

    <%= form.label :category_id, class: 'form-label' %>
    <%= form.text_field :category_id, class: 'form-control' %>
  </div>
  
  <div>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
<script type="text/javascript">
  $(".alert-danger").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert-danger").slideUp(500);
  });
</script>
