<div class="container-fluid rounded p-4 h-100 space">
  <div class="col-md-6 d-flex">
    <h2>Doctor Details</h2>
  </div>
  <%= form_with(model: @doctor, url: administrator_doctor_path(@doctor), class: 'needs-validation', novalidate: true, local: true, html: {multipart: true}) do |form| %>
    <div class="row my-3">
      <div class="col-md-4 image-contain border-right bg-white d-flex justify-content-center align-items-center">
        <div class="row mt-2">
          <div id="doctor-admin">
            <div class="avatar-wrapper">
              <img class="profile-pic" src="" />
              <div class="upload-button">
                <div class="subject-image">
                  <p class="m-0" style="font-size: 15px;">Drag your photo here</p>
                  <i class="fa-solid fa-image image" style="font-size: 25px; margin-top: 10px;"></i>
                </div>
                <i class="fa-solid fa-image image-custom" aria-hidden="true"></i>
              </div>
              <%= form.file_field :avatar_doctor, accept: 'image/*', class: 'file-upload', data: { controller: 'avatar' } %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="p-3 py-5 bg-white border-10">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <%= link_to administrator_doctors_path, class: 'd-flex flex-row align-items-center back unstyled-link' do %>
              <i class="fa fa-long-arrow-left mb-2 mx-2"></i>
              <h6 style="font-weight: 600;">Back to home</h6>
            <% end %>
            <h6 class="text-right" style="font-weight: 700;">Edit Profile</h6>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <%= form.label :full_name, 'Full name', class: 'form-label' %>
              <%= form.text_field :full_name, class: 'form-control', required: true %>
            </div>
            <div class="col-md-6">
              <%= form.label :age, 'Age', class: 'form-label' %>
              <%= form.number_field :age, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <%= form.label :email, 'Email', class: 'form-label' %>
              <%= form.text_field :email, class: 'form-control', required: true %>
            </div>
            <div class="col-md-6">
              <%= form.label :gender, 'Gender', class: 'form-label' %>
              <%= form.select :gender, [["Male", "male"], ["Female", "female"], ["Other", "other"]], {}, { class: 'form-control', required: true } %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <%= form.label :address, 'Address', class: 'form-label' %>
              <%= form.text_field :address, class: 'form-control', required: true %>
            </div>
            <div class="col-md-6">
              <%= form.label :phone_number, 'Phone number', class: 'form-label' %>
              <%= form.text_field :phone_number, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-actions mt-3" style="text-align:right">
            <%= form.submit 'Save', class: 'btn btn-primary', id: "submitButton" %>
            <%= link_to 'Cancel', administrator_doctors_path, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
