<!DOCTYPE html>
<html>
  <head>
    <title>DemoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <%= stylesheet_link_tag  'administrator/clinic', 'administrator/header', 'administrator/sidebar'%>
    <%= stylesheet_link_tag do %>
      "administrator/authentication",
      "administrator/forgot_password",
      "administrator/header",
      "administrator/sidebar",
      "administrator/table_admin"
    <% end %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="authentication-administrator">
      <%= render "administrator/shared/notice_messages" %>
    </div>
    <div class="admin-layout" id="admin-pages">
      <%= render 'shared/administrator/header' %>
      <div class="container-fluid">
          <div class="row flex-nowrap">
            <%= render 'shared/administrator/sidebar' %>
            <div class="px-0 body-content" style="overflow-x: hidden; background-color: #eff2f6">
              <div class="content-controller">
                <%= yield %>
              </div>
              <%= render 'shared/administrator/footer' %>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
