<!DOCTYPE html>
<html>
  <head>
    <title>DemoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="admin-layout" id="admin-pages">
      <div><%= render 'shared/administrator/header' %></div>
        <div class="container-fluid">
          <div class="row flex-nowrap">
            <%= render 'shared/administrator/sidebar' %>
            <div class="px-0 body-content">
              <div class="content-controller">
                <%= yield %>
              </div>
              <%= render 'shared/administrator/footer' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
