<!DOCTYPE html>
<html>
  <head>
    <title>Clinic Hopee</title>
    <%= favicon_link_tag asset_path('clinic') %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezTo1tWqu1qxDQ9+JtBff6RxpFq+9aY7S9DLmU6y8EmOm+HlCvjMWJ6I+9JtSX21" crossorigin="anonymous">
  </head>

  <body>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
