  <!DOCTYPE html>
  <html>
  <head>
    <title>Ecomm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if @user == current_user %>
    <div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
      <%= form_tag("/search", method: "get", class: "d-flex w-50") do %>
      <%= text_field_tag "search", nil, placeholder: "search", class: "form-control me-2" %>
      <%= submit_tag "Search", class: "btn btn-outline-dark" %>
      <% end %>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-10">
      <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <%= @user.name.capitalize %>
          </a>
        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
          <li><%= link_to "Profile", profile_path(@user) %></li>
          <li><%= link_to "Orders" %></li>
          <li><%= link_to "Change Password", edit_pass_word_reset_url %></li>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      </li>
    <li>
      <span class="badge bg-danger">
        Your Cart
      </span>
    </li>
  <li class="nav-item mx-2">
    <span class="badge bg-danger">
      Wishlist
    </span>
  </li>
</ul>
<% else %>
<div class="collapse navbar-collapse" id="navbarSupportedContentnotAuth">
  <ul class="navbar-nav me-5 mx-5 mb-2 mb-lg-0">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link active", "aria-current" => "page" %>
    </li>
</ul>
<form action="/search" role="search" class="d-flex w-50">
  <input name="search" type="search" placeholder="search" aria-label="Search" class="form-control me-2">
  <button class="btn btn-outline-dark" type="submit">Search</button>
</form>
</div>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item mx-2">
    <%= link_to "Log in", login_path, method: "create" %>
  </li>
  <li class="nav-item mx-2">
    <%= link_to "Registeration", new_user_path, method: "new" %>
  </li>
</ul>
<% end %>
</div>
</nav>
<body>
  <%= yield %>
</body>
</html>
