<!DOCTYPE html>
<html>
  <head>
    <title>Clinic Hopee</title>
    <%= favicon_link_tag asset_path('clinic') %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'customers' %>
    <%= stylesheet_link_tag 'header', 'footer' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render  "shared/header" %>
    <section>
      <%= yield %>
    </section>
    <%= render  "shared/footer" %>
  </body>
</html>
