<!DOCTYPE html>
<html>
  <head>
    <title>Clinic Hopee</title>
    <%= favicon_link_tag asset_path('clinic') %>

    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'header', 'footer', 'topmenu'%>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'popper.js' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
  </head>

  <body>
<<<<<<< HEAD
<<<<<<< HEAD
    <%= render 'shared/header' %>
    <%= render 'shared/topmenu' %>
    <section>
      <%= yield %>
    </section>
    <%= render 'shared/footer' %>
=======
=======
>>>>>>> c61dff1 ([issue_34]_modify routes and layout)
    <%= render  "shared/header" %>
    <%= render  "shared/topmenu" %>
    <section>
      <%= yield %>
    </section>
    <%= render  "shared/footer" %>
<<<<<<< HEAD
>>>>>>> ebffe70 ([issue_34] modify & responsive ui)
=======
>>>>>>> c61dff1 ([issue_34]_modify routes and layout)
  </body>
</html>
